{% extends "base.html" %}

{% block title %}Post | {% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3>發表</h3>
    </div>
    <div class="card-body">
      <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
          <a href="{% url 'image:image_list'%}" class="btn btn-secondary">取消</a>
          <input type="submit" class="btn btn-success" value="上傳">
        </p>
      </form>
    </div>
  </div>
{% endblock %}
