{% load static %}
{% load thumbnail %}

{% for post in posts %}
  <div class="card">
    <div class="card-header d-flex flex-wrap align-items-center">
      <span>
        <a href="{% url 'account:user_profile' post.user.username %}">
          <img src="{{ post.user.get_avatar }}" class="avatar-40">
          {{ post.user.first_name }}
        </a>
      </span>
      <span>
        <a href="#" class="user-like" data-id="{{ post.id }}">
          {{ post.user_like.count }} 個喜歡
          {% if request.user in post.user_like.all %}
            <img class="like-icon" src="{% static 'img/like.png' %}">
          {% else %}
            <img class="like-icon" src="{% static 'img/unlike.png' %}">
          {% endif %}
        </a>
      </span>
    </div>
    {% thumbnail post.image "500x500" crop="center" as im %}
      <img class="card-img-top" src="{{ im.url }}">
    {% endthumbnail %}
    <div class="card-body border-bottom">
      <div class="card-text-1">
        {{ post.body|linebreaks|slice:"50" }}
        {% if post.body|length > 50 %}
          <a href="#">...更多</a>
        {% endif %}
      </div>
      <div class="card-text-2" style="display: none;">{{ post.body|linebreaks }}</div>
      <div class="comment-block">
        {% for comment in post.comments.all|slice:":2" %}
          <div>
            <a href="{% url 'account:user_profile' comment.user.username %}">
              <b>{{ comment.user.first_name }} </b>
            </a>
            {{ comment.body }}
            <br>
          </div>
        {% endfor %}
      </div>
    </div>
    <form class="comment-form" action="" method="POST" data-id="{{ post.id }}">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <textarea name="body" class="form-control" placeholder="留言"></textarea>
        </div>
        <div class="col-auto">
          <input type="submit" value="發布" class="btn btn-primary float-right">
        </div>
      </div>
    </form>
  </div>
{% endfor %}

<div>
  <ul>
    {% if posts.has_previous %}
      <li>
        <a href="?page={{ posts.previous_page_number }}"> &larr; Newer posts</a>
      </li>
    {% endif %}
    {% if posts.has_next %}
      <li>
        <a href="?page={{ posts.next_page_number }}">Older posts &rarr;</a>
      </li>
    {% endif %}    
  </ul>
</div>

