{% extends "base.html" %}

{% block title %}User | {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-auto">
      {% if request.user == user %}
        <form id="avatar-change" action="." method="POST" enctype="multipart/form-data" style="display: none;">
          {{ form }}
          {% csrf_token %}
        </form>
        <a href="#" class="avatar-button">
          <img class="avatar-120" src="{{ user.get_avatar }}">
        </a>
      {% else %}
        <img class="avatar-120" src="{{ user.get_avatar }}">
      {% endif %}
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>
            {{ user.first_name }}
            {% if request.user == user %}
              <a href="{% url 'account:user_edit' %}" class="btn btn-light">編輯</a>
            {% else %}
              {% if request.user not in user.followers.all %}
                <a href="{% url 'account:user_follow' user.username %}" class="btn btn-primary">追蹤</a>
              {% else %}
                <a href="{% url 'account:user_unfollow' user.username %}" class="btn btn-light">取消</a>
              {% endif %}
            {% endif %}
          </h3>
        </div>
      </div>
      <br>
      <div class="row">
        {% with total_following=user.following.count total_followers=user.followers.count %}
        <div class="col-auto">
          <b>{{ user.posts_created.count }}</b> 貼文
        </div>
          <div class="col-auto">
            <b>{{ total_following }}</b> 追蹤中
          </div>
          <div class="col-auto">
            <b>{{ total_followers }}</b> 追蹤者
          </div>
        {% endwith %}
      </div>
      <br>
      <div class="row">
        <div class="col-auto">
          {{ user.about|linebreaks }}
        </div>
      </div>
    </div>
  </div>
  <hr>
{% include 'account/_lightbox.html' %}
{% endblock %}

{% block scripts %}
{% load static %}
{{ block.super }}
  <script>
    $('.lightbox').click(function() {
      item = $(this)
      id = item.attr('data-id')
      $('.comment-form').attr({'data-id': id})
      data = {'id': id}
      jQuery.get(
        '{% url "post:get_post" %}',
        data,
        function(res) {
          // 清除前一張圖片資訊
          $('.modal-user').empty()
          .append('<img src="' + res['avatar'] + '" class="avatar-40">')
          .append(res['first_name'])
          $('.modal-body').empty()
          $('.comment-form textarea').val('')


          // 替換當前圖片資訊
          $('.modal-img').attr({'src': res['image_url']})
          $('.modal-body').html(item.parent().find('.post-body').html())
          
          // 顯示讚數
          if(res['is_like']) {
            $('.user-like').empty().text(res['like_count'] + ' 個喜歡 ').attr({'data-id': id})
            .append('<img class="like-icon" src="{% static "img/like.png" %}">')
          }
          else {
            $('.user-like').empty().text(res['like_count'] + ' 個喜歡 ').attr({'data-id': id})
            .append('<img class="like-icon" src="{% static "img/unlike.png" %}">')
          }

          // 顯示評論
          $('.modal-body').append('<div class="comment-block"></div>')
          for(i = 0; i < res['comments'].length; i++){
            $('.comment-block').append(
              '<div class="row">' +
                '<div class="col-sm-auto">' +
                  '<a href="' + res['comment_user_profiles'][i] + '">' +
                    '<img src="' + res['comment_user_avatars'][i] + '" class="avatar-30">' +
                  '</a>' +
                '</div>' +
                '<div class="col-sm">' +
                  '<a href="' + res['comment_user_profiles'][i] + '">' +
                    '<b>' + res['comment_user_names'][i] + ' </b>' +
                  '</a>' +
                  res['comments'][i] +
                '</div>' +
              '</div>'
            )
          }
        }
      )
    })

    $('.user-like').click(function(e) {
      e.preventDefault()
      item = $(this)
      id = item.attr('data-id')
      data = {'id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
      jQuery.post(
        '{% url "post:post_like" %}',
        data,
        function(res) {
          item.text(res['like_count'] + ' 個喜歡 ')
          if(res['is_like']) {
            item.append('<img class="like-icon" src="{% static "img/like.png" %}">')
          }
          else {
            item.append('<img class="like-icon" src="{% static "img/unlike.png" %}">')
          }
        }
      )
    })


    $('.avatar-button').click(function(e) {
      e.preventDefault()
      $('#id_avatar').click()
    })


    $('#id_avatar').change(function() {
        if($(this).val() != '') {
          $('#avatar-change').submit()
        }
    })

    $('.comment-form').on('submit', function(e) {
      e.preventDefault()
      item = $(this)
      id = item.attr('data-id')
      body = item.find('textarea').val()
      data = {'id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'body': body}
      jQuery.post(
        '{% url "post:comment" %}',
        data,
        function(res) {
          $('.comment-block').append(
            '<div class="row">' +
                '<div class="col-sm-auto">' +
                  '<a href="' + res['comment_user_profile'] + '">' +
                    '<img src="' + res['comment_user_avatar'] + '" class="avatar-30">' +
                  '</a>' +
                '</div>' +
                '<div class="col-sm">' +
                  '<a href="' + res['comment_user_profile'] + '">' +
                    '<b>' + res['comment_user_name'] + ' </b>' +
                  '</a>' +
                  res['comments'] +
                '</div>' +
              '</div>'
          )
          $('.comment-form textarea').val('')
          $('.modal-body').animate({scrollTop:$('.modal-body')[0].scrollHeight},'1000');
        }
      )
    })
  </script>
{% endblock %}
